<form [formGroup]="formGroup" #myForm="ngForm" (ngSubmit)="formGroup.valid && onSubmit()">
  <div formGroupName="name">
    <input type="texte" placeholder="identifiant" formControlName="identifant"/>
    <div *ngIf="formGroup.get('name')?.errors && inValidate === true">
      <div class="text-danger" *ngIf="formGroup.get('name')?.errors">l'identifiant est requis</div>
    </div>
    <input type="texte" placeholder="titre" formControlName="titre"/>
    <div *ngIf="formGroup.get('name')?.errors && inValidate === true">
      <div class="text-danger" *ngIf="formGroup.get('name')?.errors">le titre est requis</div>
    </div>
  </div>
    <select formControlName="types" >
      <option *ngFor="let types of lesTypes" [ngValue]="types.name">
        {{types.name}}
      </option>
  </select>
  <div>
    <div>
      <input type="texte" placeholder="année de sortie" formControlName="anneeDeSortie"/>
      <div *ngIf="formGroup.get('anneeDeSortie')?.errors && inValidate === true">
        <div class="text-danger" *ngIf="formGroup.get('anneeDeSortie')?.errors">l'annee doit etre entre {{min}} et {{max}}</div>
      </div>
    </div>
    <select formControlName="fiches" >
      <option *ngFor="let fiches of lesFiches" [ngValue]="fiches.name">
        {{fiches.name}}
      </option>
    </select>
  </div>
  <div>
    <button type="submit" (click)="handleValidate()">
      Soumettre
    </button>
  </div>
</form>
